* {
    text-decoration: none;
}

.parallax-section {
    background-image: url('back/episode_back.png');
    background-attachment: fixed;
    /* Фонове зображення буде фіксоване */
    background-size: cover;
    /* Зображення покриває всю секцію */
    background-position: center;
    /* Центрування зображення */
    background-repeat: no-repeat;
    /* Заборонити повторення зображення */
    height: 1000px;
}

header {
    background-image: url('back/episode_back.png');
    background-attachment: fixed;
    background-size: cover;
    /* Зображення покриває всю секцію */
    background-position: center;
    /* Центрування зображення */
    background-repeat: no-repeat;
}

/* Основні стилі */
body,
h1,
p,
a {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1,
p {
    text-shadow: 2px 2px 1px #000000;
}

/* Навігація */
nav {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    /* Відступи з боків для контенту */
    background-color: rgba(255, 255, 255, 0.2);
    /* Напівпрозорий білий колір */
    backdrop-filter: blur(10px);
    /* Ефект розмиття */
    -webkit-backdrop-filter: blur(10px);
    /* Для підтримки в Safari */
}

h1 {
    color: #ffffff;
    text-align: center;
    line-height: 1.6;
}

p {
    text-align: center;
    /* Вирівнювання тексту по ширині */
    font-size: 18px;
    /* Розмір шрифту */
    line-height: 1.6;
    /* Висота рядка */
    color: #ffffff;
    /* Колір тексту */
}

label.logo {
    color: #ffffff;
    font-size: 50px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 30px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #15ff00a4;
    border: 1px solid rgb(0, 255, 136);
    transition: .5s;
    color: #000000;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


#check {
    display: none;
}

/* Адаптивність */
@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 402px) {
    label.logo {
        font-size: 20px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 1733px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #5e5e5e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #check:checked~ul {
        left: 0;
    }
}