* {
    text-decoration: none;
}

.parallax-section {
    background-image: url('back/home_back.png');
    background-attachment: fixed;
    /* Фонове зображення буде фіксоване */
    background-size: cover;
    /* Зображення покриває всю секцію */
    background-position: center;
    /* Центрування зображення */
    background-repeat: no-repeat;
    /* Заборонити повторення зображення */
    height: 1000px;
}

header {
    background-image: url('back/home_back.png');
    background-attachment: fixed;
    background-size: cover;
    /* Зображення покриває всю секцію */
    background-position: center;
    /* Центрування зображення */
    background-repeat: no-repeat;
}

/* Основні стилі */
body,
h1,
p,
a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #363636;
    overflow-x: hidden;
}

/* Навігація */
nav {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    /* Відступи з боків для контенту */
    background-color: rgba(255, 255, 255, 0.2);
    /* Напівпрозорий білий колір */
    backdrop-filter: blur(10px);
    /* Ефект розмиття */
    -webkit-backdrop-filter: blur(10px);
    /* Для підтримки в Safari */
    color: #ffffff;
    /* Білий колір тексту */
}

h1 {
    color: white;
}

p {
    text-align: justify;
    /* Вирівнювання тексту по ширині */
    font-size: 18px;
    /* Розмір шрифту */
    line-height: 1.6;
    /* Висота рядка */
    color: #ffffff;
    /* Колір тексту */
    margin: 20px 0;
    /* Відступи навколо абзацу */
}

.centered-text {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.6;
}

label.logo {
    color: #ffffff;
    font-size: 50px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #ffffff52;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Адаптивність */
@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 402px) {
    label.logo {
        font-size: 20px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 1733px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #5e5e5e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #check:checked~ul {
        left: 0;
    }
}

/* Відео */
.video {
    text-align: center;
    /* Центрує всі внутрішні елементи по горизонталі */
    padding: 20px;
    /* Відступи для покращення розміщення */
}

.video-thumbnail {
    display: inline-block;
    /* Робить контейнер зображення/відео блочним елементом */
    max-width: 100%;
    /* Адаптує ширину контейнера до ширини секції */
}

.video-thumbnail img {
    width: 100%;
    /* Зображення адаптується до ширини контейнера */
    height: auto;
    /* Висота автоматично підлаштовується для збереження пропорцій */
    width: 960px;
    /* ширина відео */
    height: 540px;
    /* висота відео */
}

.video-thumbnail iframe {
    width: 100%;
    /* Відео адаптується до ширини контейнера */
    height: auto;
    /* Висота автоматично підлаштовується для збереження пропорцій */
    width: 960px;
    /* ширина відео */
    height: 540px;
    /* висота відео */
}
