body {
    font-family: 'Arial', sans-serif;
    background: #51fc5f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.parallax-section {
    background-image: url('back/sing_back.png');
    background-attachment: fixed;
    /* Фонове зображення буде фіксоване */
    background-size: cover;
    /* Зображення покриває всю секцію */
    background-position: center;
    /* Центрування зображення */
    background-repeat: no-repeat;
    /* Заборонити повторення зображення */
    height: 1000px;
}

.wrapper {
    background-image: url('back/box_back.png');
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    color: #333333;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.input-box input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #023a00;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.input-box input:focus {
    border-color: #007bff;
}

.input-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.btn {
    background: #00ff0d;
    color: #000000;
    font-size: 19px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #137000;
}

.alert {
    color: red;
    margin-bottom: 20px;
    display: none;
}